---
import { ClientRouter } from 'astro:transitions';
import SeccionPage from '../components/SeccionPage.astro'
---
<!doctype html>
<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <main class="container sm:max-w-sm md:max-w-screen-xl mx-auto">
      <!-- <SeccionPage /> -->
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
